doctype html
html
    head
        //meta(charset="utf-8")
        //meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    body.container    
        ul.nav.nav-tabs
            li.nav-item(style='width: 50%')
                a.text-center(class='nav-link' href='/fridge') FRIDGE          
            li.nav-item(style='width: 50%')
                a.text-center(class='nav-link' href='/shoppinglist') SHOPPING LIST
    
    div.row
        div.col(class="border border-primary border-top-0 border-left-0 border-bottom-0")
            h3.text-center='⬆️'
            h3.text-center='This is your fridge...'
            br
            p.text-center='Add products to your fridge by using "add".'
            img(src="https://drive.google.com/uc?export=view&id=16qUFoLSgjs_VEu008iXsdjeiz24OeMEj", style='max-width: 100%')
            br
            p.text-center='You can mark items as "running out"...'
            img(src="https://drive.google.com/uc?export=view&id=1UQ85Z4OtpZY8FkBHQSx_chzhL_dbpyrf", style='max-width: 100%')
            br
            p.text-center='... or "run out" which adds them to your shopping list.'
            img(src="https://drive.google.com/uc?export=view&id=13pfy5K5Jto1MWvif1wQUhcsS4Nwf60l8", style='max-width: 100%')
        div.col(class="border border-primary border-top-0 border-right-0 border-bottom-0")
            h3.text-center='⬆️'
            h3.text-center='...and this is your shopping list.'
            br
            p.text-center='Add products to your shopping list by using "add"'
            img(src="https://drive.google.com/uc?export=view&id=1_ZjAemfJuOJ8UaaBCCBudQ31HERH26rj", style='max-width: 100%')
            br
            p.text-center='Click "Got it" and item will move from your shopping list to fridge'
            img(src="https://drive.google.com/uc?export=view&id=1-6qXqsRR1r6vFIuy4rE3r2L60E4TI7At", style='max-width: 100%')
            